/**************************/
/* HEADER */
/**************************/
.section-header {
  height: 9.6rem;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link {
  height: 2.2rem;
}
.logo-img {
  height: 100%;
}
/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;

  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.btn:last-child:link,
.main-nav-link.btn:last-child:visited {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
}

/**************************/
/* HERO */
/**************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 3.2rem;
}
.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 9.6rem;
  max-width: 130rem;
}

.hero-text-box {
  flex: 1;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 6.4rem;
}
.delivered-faces {
  display: flex;
}
.delivered-faces img:nth-child(1) {
  border: none;
}
.delivered-faces img {
  border-radius: 50%;
  border: 0.3rem #fdf2e9 solid;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
}
.delivered-faces img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-weight: bold;
  font-size: 1.8rem;
}
.delivered-text span {
  color: #cf711f;
}
.hero-img {
  width: 100%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #e6e6e6;
  margin-bottom: 1.6rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.step-img-box img {
  width: 35%;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

/**************************/
/* MEALS SECTION */
/**************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal-box {
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 0.075);
  overflow: hidden;
  transition: all 0.3s;
}
.meal-box:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 0.06);
}
.meal-img {
  width: 100%;
}
.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
}
.meal-title {
  color: #333;
  font-size: 2.4rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-size: 1.8rem;
}
.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.meal-icon {
  color: #e67e22;
  width: 10%;
  height: 100%;
  padding-bottom: 10%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/
.section-testimonials {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  justify-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  border-radius: 50%;
  width: 6.5rem;
  margin-bottom: 1.6rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}
.testimonial-name {
  display: flex;
  gap: 4px;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* PRICING SECTION */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  text-align: center;
  width: 75%;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  display: block;
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 8px;
}
.plan-text{
  font-size: 1.6rem;
  color: #6f6f6f;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.plan-CTA {
  margin-top: 4.8rem;
}
.pricing-plan--starter {
  justify-self: end;
  border: solid 2px #fdf2e9;
  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "BEST VALUE";
  display: flex;
  position: absolute;
  top: 6%;
  right: -18%;

  transform: rotate(42deg);
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  z-index: 1;
  align-items: center;
  justify-content: center;
  
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}

.pricing-details {
  font-size: 1.6rem;
  text-align: center;
}
