/**************************/
/* HEADER */
/**************************/
.section-header {
  height: 9.6rem;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link {
  height: 2.2rem;
}
.logo-img {
  height: 100%;
}
/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;

  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.btn:last-child:link,
.main-nav-link.btn:last-child:visited {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
}

/**************************/
/* HERO */
/**************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 3.2rem;
}
.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 9.6rem;
  max-width: 130rem;
}

.hero-text-box {
  flex: 1;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 6.4rem;
}
.delivered-faces {
  display: flex;
}
.delivered-faces img:nth-child(1) {
  border: none;
}
.delivered-faces img {
  border-radius: 50%;
  border: 0.3rem #fdf2e9 solid;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
}
.delivered-faces img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-weight: bold;
  font-size: 1.8rem;
}
.delivered-text span {
  color: #cf711f;
}
.hero-img {
  width: 100%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #e6e6e6;
  margin-bottom: 1.6rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.step-img-box img {
  width: 35%;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

/**************************/
/* MEALS SECTION */
/**************************/
.section-meals {
  padding: 9.6rem 0;
}
.section-meals .grid {
  row-gap: 6.4rem;
}
.meal-box {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
}
.meal-box img {
  width: 100%;
  border-radius: 11px 11px 0 0;
}
.meal-box > div {
  padding: 3.2rem 4.8rem;
}

/* applied only to tags inside meal-box, avoiding clutter the style component */
.meal-box .tag {
  margin-bottom: 0.8rem;
  margin-right: 0.4rem;
}
.meal-box .heading-ternary {
  font-size: 2.4rem;
  font-weight: 600;
}
.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font-size: 1.8rem;
}
.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.meal-attribute ion-icon {
  width: 10%;
  height: 100%;
  padding-bottom: 10%;
}
.diets-list-box {
}
.diets-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.8rem;
}
.diet {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.diet ion-icon {
  width: 3rem;
  height: 3rem;
}
ion-icon {
  color: #e67e22;
}

.all-recipes-btn-box {
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
.all-recipes-btn:link,
.all-recipes-btn:visited {
  width: fit-content;
  padding-bottom: 0.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #e67e22;
  border-bottom: solid 1px #e67e22;
  transition: all 0.3s;
}
.all-recipes-btn:hover,
.all-recipes-btn:active {
  border-bottom: solid 1px transparent;
  font-weight: 400;
  color: #cf711f;
}
